{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block nav %}

{% endblock %}


{% block body %}

    <div class="container-fluid text-center">

      <h1>The Adventure club</h1><br>
        <p>Wij zijn Emma Lisa, Alex en Mark<br>
        Dit is onze website waar wij verhalen delen over onze techonlogsiche avontrune. Veel lees plezier</p>

    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-secondary" type="button">beleef met ons alle avontruen</button>
</div>
{% endblock %}
